@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trails4Health</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/flatly_bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/flatly_bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    
    <nav class="navbar navbar-default navbar-fixed-top top-nav-collapse" style="background-color:black">
        <div class="container-fluid">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand" href="" style="margin-right:100px">
                            <img width="40%" src="~/images/geoparkestrela.png">
                        </a>
                    </li>

                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Reservas</a></li>
                    <li><a asp-area="" asp-controller="Etapas" asp-action="Index">Etapas</a></li>
                    <li><a asp-area="" asp-controller="Trilhos" asp-action="Index">Trilhos</a></li>
                    <li><a asp-area="" asp-controller="Fotos" asp-action="Index">Fotos</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Loja">Loja</a></li>
                    <li style="margin-right:270px"><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>


                    <li style="margin-right:-260px">
                        <a class="page-scroll" href="/pt"><img width="7%" src="images/pt.png"></a>
                    </li>
                    <li style="margin-right:-260px">
                        <a class="page-scroll" href="/pt"><img width="7%" src="~/images/es.png"></a>
                    </li>
                    <li style="margin-right:-220px">
                        <a class="page-scroll" href="/pt"><img width="7%" src="images/fr.png"></a>
                    </li>


                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />

        



        <footer class="container-fluid footer">
            <div class="row" >
                <div class="col-md-12">
                    <h4>
                        <a href="Index">PÁGINA PRINCIPAL</a> |
                        <a href="Index">RESERVAS</a> |
                        <a href="Index">FAQs</a> |
                        <a href="Index">TERMOS E POLÍTICA DE PRIVACIDADE</a> |
                        <a href="Index">CONTACTOS</a> |
                        <a href="www.facebook.com">FACEBOOK</a>
                    </h4>
            <p>&copy; 2017 - Trails4Health</p>
        </footer>
    </div>


    @RenderSection("Scripts", required: false)

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    
</body>
</html>
