@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trails4Health</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-topa">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" >LOGOTIPO</a></li>

                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Reservas">Reservas</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ComoChegar">Como Chegar</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Trilhos">Trilhos</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Fotos">Fotos</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Loja">Loja</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contactos">Contactos</a></li>
                    
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img width="7%" src="images/pt.png"></a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">LOGIN</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">REGISTAR</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="panel-footer">
            <div style="margin-left">
                <p>Contactos:</p>
                <br />
                <p>271000111</p>
                <p>271000222</p>
            </div>
            <div style="margin-right">
                <p>Redes Sociais</p>
                <br />
                <p><a asp-area="" asp-controller="Home" asp-action="Index" class="panel-footer">Face</a></p>
                <p><a asp-area="" asp-controller="Home" asp-action="Index" class="panel-footer">Twitter</a></p>
            </div>
            <p>&copy; 2017 - Trails4Health</p>
        </footer>
    </div>

    
</body>
</html>
