@model FotoListViewModel
@{
    ViewData["Title"] = "CompararFoto";
}

<style>
div.box {
  background: #EEE;
  height: 100px;
  width: 600px;
}

div.div1 {
  background: #999;
  float: left;
  height: 100%;
  width: auto;
}

div.div2 {
  background: #666;
  height: 100%;
}

div.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
  font-size: 0pt;
  margin-top: -1px;
}
</style>

<div class="box">
    <div class="div1">1st</div>
    <div class="div2">2nd</div>
    <div class="clear"></div>
</div>