@model Trails4Health.Models.Foto

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Foto</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="LocalizacaoId" class="col-md-2 control-label">Localizacao</label>
            <div class="col-md-10">
                <select asp-for="LocalizacaoId" class ="form-control" asp-items="ViewBag.LocalizacaoId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DataHora" class="col-md-2 control-label">Data e Hora</label>
            <div class="col-md-10">
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EstacaoAno" class="col-md-2 control-label">Estacao do Ano</label>
            <div class="col-md-10">
                <input asp-for="EstacaoAno" class="form-control" />
                <span asp-validation-for="EstacaoAno" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tipo" class="col-md-2 control-label">Tipo</label>
            <div class="col-md-10">
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Url" class="col-md-2 control-label">Url</label>
            <div class="col-md-10">
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>
            <div class="col-md-10">
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="file" name="files" />
                    </div>
                </div>
            </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}