@model IEnumerable<Image>
@{
    ViewData["Title"] = "List";
}

    <h2>Image List</h2>

    @foreach (Image i in Model)
    {
        <div>
            <h3>@i.ImageID</h3>
            <p>asfafa</p>
            <h4>awfag</h4>
        </div>
        <hr />
    }
