@model Trails4Health.Models.Trilho

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Trilho</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Inicio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Inicio" class="form-control" />
                <span asp-validation-for="Inicio" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fim" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Fim" class="form-control" />
                <span asp-validation-for="Fim" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AltitudeMax" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AltitudeMax" class="form-control" />
                <span asp-validation-for="AltitudeMax" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AltitudeMin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AltitudeMin" class="form-control" />
                <span asp-validation-for="AltitudeMin" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Descricao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Descricao" class="form-control"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="InteresseHistorico" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                
                <select asp-for="InteresseHistorico" class="form-control">
                    <option value="">Classifique de 1 a 3</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="BelezaPai" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BelezaPai" class="form-control" />
                <span asp-validation-for="BelezaPai" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
