@model Trails4Health.Models.Image

@{
    ViewData["Title"] = "ClassificarImagens";
}

<h2>ClassificarImagens</h2>

<h2>ClassificarImagens</h2>

<h2>ClassificarImagens</h2>

<h2>ClassificarImagens</h2>

<div class="col-md-3 col-sm-4 webdesign" style="visibility: visible; ">
    <div class="icons">
        <img src="~/images/icon1.png" alt="ASP.NET" class="img-responsive" />
    </div>
    <h2><a href="">Ver Fotos</a></h2>
</div>