@model Trails4Health.Models.ProcurarTrilho

@{
    ViewData["Title"] = "Contact";
}

<div class="panel panel-primary">
    <address>
        Rua Comandante Salvador do Nascimento<br />
        Nº20 1ºesq, 6300-745<br />
        <abbr title="Phone">P:</abbr>
        271222111
    </address>

    <address>
        <strong>Support:</strong> <a >Trails4Health@example.com</a><br />
        <strong>Marketing:</strong> <a >MarketingTrails4Health@example.com</a>
    </address>
</div>