@model Trails4Health.Models.Foto

@{
    ViewData["Title"] = "Fotos";
}

<h1>aaaaaaaaaa</h1>
<h1>aaaaaaaaaa</h1>

<div class="row what">
    <div class="col-md-3 col-sm-4 webdesign" style="visibility: visible; ">
        <div class="icons">
            <img src="~/images/icon1.png" alt="ASP.NET" class="img-responsive" />
        </div>
        <h2><a href="">Ver Fotos</a></h2>
    </div>
    <div class="col-md-3 col-sm-4 copywriting" style="visibility: visible; ">
        <div class="icons">
            <img src="~/images/icon2.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        <h2><a href="ClassificarImagens">Adicionar Fotos</a></h2>
    </div>
    <div class="col-md-3 col-sm-4 coding" style="visibility: visible; ">
        <div class="icons">
            <img src="~/images/icon3.png" alt="ASP.NET" class="img-responsive" />
        </div>
        <h2><a asp-area="" asp-controller="Home" asp-action="ClassificarImagens">Classificar Imagens</a></h2>
    </div>
</div>



<form asp-action="" method="post" enctype="multipart/form-data" asp-controller="Home" >
    <div class="panel panel-primary" style="margin-top:2ex;">
        <div class="panel-heading">
            <h3 class="panel-title">Classificar Imagem</h3>
        </div>


        <div class="panel-body">
            <div class="form-group">
                <label asp-for="Localizacao">Localização:</label>
                <input asp-for="Localizacao" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DataHora">Data e Hora:</label>
                <input asp-for="DataHora" class="form-control" />
            </div>
           
            <div class="form-group">
                <label asp-for="EstacaoAno">Estação do Ano:</label>
                <select asp-for="EstacaoAno" class="form-control">
                    <option value="">Escolha uma opção</option>
                    <option value="1">Verão</option>
                    <option value="2">Inverno</option>
                    <option value="3">Outono</option>
                    <option value="2">Primavera</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Tipo">Tipo:</label>
                <select asp-for="Tipo" class="form-control">
                    <option value="">Escolha uma opção</option>
                    <option value="1">Fauna</option>
                    <option value="2">Flora</option>
                    <option value="3">Histórica</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Url">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="file" name="files" multiple />
                        </div>
                    </div>
                </label>
            </div>


            <div asp-validation-summary="All"></div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
    </div>
</form>